<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>22-advjava-club-8</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SaveUserServlet</servlet-name>
		<servlet-class>SaveUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveUserServlet</servlet-name>
		<url-pattern>/saveuser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CalcServlet</servlet-name>
		<servlet-class>CalcServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalcServlet</servlet-name>
		<url-pattern>/CalcServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FSignupServlet</servlet-name>
		<servlet-class>FSignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FSignupServlet</servlet-name>
		<url-pattern>/FSignupServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SignupFilter</filter-name>
		<filter-class>com.filter.SignupFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SignupFilter</filter-name>
		<servlet-name>FSignupServlet</servlet-name>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>DbAddUserServlet</display-name>
		<servlet-name>DbAddUserServlet</servlet-name>
		<servlet-class>com.controller.DbAddUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbAddUserServlet</servlet-name>
		<url-pattern>/DbAddUserServlet</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>


</web-app>